<form id="main-form">
  <table width="80%" class="table">
    <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Nombre
      </th>
      <th>
        Grape
      </th>
      <th>
        Castle
      </th>
      <th>
        Type
      </th>
      <th>
      Year
      </th>
      <th>
        Options
      </th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="winery in listOfWineries">
      <th width="5%">
        {{ winery.id }}
      </th>
      <th width="35%">
        {{ winery.name | truncateText}}
      </th>
      <th width="20%">
        {{ winery.grape }}
      </th>
      <th width="20%">
        {{ winery.castle }}
      </th>
      <th width="20%">
        {{ winery.type }}
      </th>
      <th width="20%">
        {{ winery.year }}
      </th>
      <th>
        <button class="btn btn-default openDetail" data-id="<%= store.id %>" ng-click="sendWinery( winery.id );" type="button">Edit</button>
      </th>
    </tr>
    </tbody>
  </table>

</form>
