<!--<div class="modal fade" id="winery-detail" role="dialog" ng-controller="WineryDetailController">-->
<!--<div id="winery-detail"  >-->
  <!-- Modal -->
  <!--<div class="modal-dialog">-->
    <form id="editWineryForm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Winery Detail</h4>
        </div>
        <input type="hidden" value="{{ winery.id }}">
        <div class="modal-body">
          <label>Name  : </label>
          <input type="text" size="45" name="name" value="{{ wineryS.name }}" ng-model="wineryS.name">
          <br>
          <label>Grape : </label>
          <input type="text" size="45" name="name" value="{{ wineryS.grapes }}" ng-model="wineryS.grapes">
          <br>
          <label>Castle: </label>
          <input type="text" size="45" name="name" value="{{ wineryS.castle }}" ng-model="wineryS.castle">
        </div>
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary accept-data">Accept</button>
        </div>-->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancel();">Close</button>
          <button type="button" class="btn btn-primary" ng-click="ok();">Accept</button>
        </div>
      </div>
      <!--</div>-->
    </form>
  <!--</div>-->
<!--</div>-->
